<div class="container">
  <mat-card>
    <p>
      <img class="logo" src="assets/mercadoApp.png" alt="mercadoApp logo" />
    </p>
    <mat-card-content>
      <mat-card-subtitle>
        <app-loader [isLoading]="isLoading" [size]="1.5"></app-loader>
        <app-table
          [tableData]="tableProducts.data"
          [columnHeader]="tableProducts.header"
          [tableCaption]="tableProducts.caption"
          [editButton]="onEditClick"
          *ngIf="!isLoading"
        ></app-table>
      </mat-card-subtitle>
    </mat-card-content>
  </mat-card>
</div>
